#delete-page{
    display: flex;
    flex-direction: column;
}

#delete{
    background-color: rgb(242, 45, 45);
    box-shadow: 2px 2px 10px rgba(120, 120, 120, 0.432);
}

#keep{
    background-color: #898281;
}

.buttonText{
    color: white;
    font-size: 16px;
    padding: 5px 0px;
}

.delete-text{
    display: flex;
    justify-content: center;
}