.tile{
    width: 500px;
    height: 350px;
    
}

.img-wrapper{
    width: 500px;
    height: 350px;
}

.img{
    object-fit: cover;
    width: 100%;
}

#tiles{
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 2166px;
    gap: 50px 50px ;
    
}

#rating{
    display: flex;
    gap: 0px 3px;
    align-items: center;
}

.star{
    display: flex;
    justify-content: space-between;
    gap: 4px;
    align-items: center;
    font-size: 16px;
}

.price{
    font-size: 16px;
}

#update-delete{
    display: flex;
    justify-content: center;
}

#update-delete > button {
    width: 230px;
    border: 1px solid rgba(192, 114, 114, 0.671);
    box-shadow: 2px 2px 10px rgba(120, 120, 120, 0.432);
}

#update{
    width: 230px;
    border: 1px solid rgba(192, 114, 114, 0.671);
    box-shadow: 2px 2px 10px rgba(120, 120, 120, 0.432);
}

.spot-text{
    padding: 0px 20px;
}

.tooltip { 
    position: relative; 
    display: inline-block; 
    cursor: pointer; 
    background-color: #BBB6B5;
    border-radius: 20px;
    overflow: hidden;
} 

.tooltip:hover{
    box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.626);
}
 
.tooltip:hover::after { 
    content: attr(data-title); 
    font-size: 22px;
    width: 480px;
    position: absolute; 
    bottom: 10.8%;
    left: 50%; 
    transform: translateX(-50%); 
    background-image: linear-gradient(to right, rgba(87, 87, 87, 0.783), rgba(255, 255, 255, 0));
    color: #fff; 
    z-index: 5;
    padding: 5px 10px; 
    opacity: 1;
} 
 
.tooltip::after { 
    opacity: 0; 
    pointer-events: none; 
} 

.grow { 
    transition: all .3s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.04);
    z-index: 1
}